:root {
    --topbar-items-spacing-x: 58px;
    --topbar-spacing-y: 6px;
    --topbar-height: 45px;
    --navbar-spacing-y: 0px;
    --navbar-height: 104px;
    --desktop-navigation-item-height: var(--navbar-height);
    --desktop-navigation-spacing-x: 59px;
    --button-primary-padding-x: 38px;
    --button-primary-rounding: 10px;
    --button-primary-height: 60px;
    --dropdown-width: 410px;
    --dropdown-list-link-color-bg: #E4F5FF;
    --dropdown-list-link-color-bg-hover: #FFFFFF;
    --dropdown-list-link-padding-y: 12px;
    --dropdown-list-link-padding-x: 12px;
    --header-bg-color: #ffffff;
    --searchbar-container-width: 300px;
    --searchbar-container-bg-color: #FFFFFF;
    --searchbar-spacing-x: 16px;
    --searchbar-spacing-y: 10px;
    --searchbar-container-rounding: 10px;
    --searchbar-input-height: 50px
}

header {
    background-color: var(--header-bg-color);
    position: relative
}

@media screen and (min-width:1023px) {
    header .skt-desktop-navigation-link {
        margin-top: -10px
    }
}

header .skt-desktop-navigation {
    column-gap: var(--desktop-navigation-spacing-x)
}

.skt-navbar-wrapper .skt-container,
.skt-topbar .skt-container {
    padding-left: 0;
    padding-right: 0
}

.skt-topbar {
    background-color: var(--color-dark)
}

.skt-topbar-navigation-link,
.skt-topbar-navigation-button {
    display: inline-block;
    margin: 0px;
}

.skt-topbar-navigation-link *,
.skt-topbar-navigation-button * {
    vertical-align: middle;
}

.skt-topbar-navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: var(--topbar-items-spacing-x);
    padding: 12px 0px;
}

.skt-topbar-navigation-link {
    font-size: var(--fs-13);
    color: var(--color-white);
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block
}

.skt-searchbar-container {
    width: var(--searchbar-container-width);
    background-color: var(--searchbar-container-bg-color);
    padding-top: var(--searchbar-spacing-y);
    padding-bottom: var(--searchbar-spacing-y);
    padding-left: var(--searchbar-spacing-x);
    padding-right: var(--searchbar-spacing-x);
    border-bottom-left-radius: var(--searchbar-container-rounding);
    border-bottom-right-radius: var(--searchbar-container-rounding);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 45%);
    position: absolute;
    z-index: 2;
    top: 100%;
    right: 0
}

.skt-navbar-wrapper .skt-btn.skt-btn-primary{
    padding: 17px var(--button-primary-padding-x);
}

.skt-searchbar-container .skt-btn.skt-btn-primary {
    min-height: var(--searchbar-input-height);
    margin-bottom: 17px;
    width: 100%
}

.skt-searchbar-title {
    font-weight: 700;
    font-size: var(--fs-16)
}

.skt-searchbar-subtitle {
    font-size: var(--fs-14)
}

.skt-searchbar-input {
    min-height: var(--searchbar-input-height);
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    padding-left: 13px;
    padding-right: 13px;
    background-color: #f5f5f5;
    outline: 0;
    border: none;
    border-radius: var(--searchbar-container-rounding);
    border-top: 1px solid;
    font-size: var(--fs-16)
}

.skt-desktop-navigation-link,
.skt-dropdown-list-link {
    font-size: var(--fs-18);
    font-weight: 600;
    text-transform: capitalize
}

.skt-desktop-navigation-item,
.skt-dropdown-list-item,
.skt-mobile-searchbar {
    position: relative
}

.skt-mobile-searchbar input.skt-searchbar-input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none
}

.skt-mobile-search-wrapper {
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    padding: 20px 15px;
    background-color: #fff;
    min-height: calc(100vh - var(--navbar-height));
    display: none
}

.skt-has-dropdown::after,
.skt-mobile-searchbar-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.skt-mobile-search-wrapper .skt-btn.skt-btn-primary {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0
}

.skt-mobile-searchbar .skt-searchbar-input {
    margin: 0
}

.skt-mobile-searchbar-btn {
    right: 10px
}

.skt-mobile-searchbar-btn img {
    width: 17px
}

.skt-dropdown,
.skt-mobile-nav-toggle,
.skt-mobile-navbar-separator,
.skt-mobile-navigation-secondary,
.skt-mobile-search-toggle,
.skt-searchbar-container-wrapper {
    display: none
}

.skt-searchbar-container-wrapper.skt-show {
    display: block
}

.skt-logo {
    max-width: 190px;
    width: 100%;
}

.skt-has-dropdown>a,
.skt-has-dropdown>a>span,
.skt-site-logo img {
    pointer-events: none
}

.skt-site-logo a {
    display: grid;
    place-items: center
}

.skt-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.skt-site-logo {
    margin-right: 59px
}

.skt-desktop-navigation {
    display: flex;
    align-items: center;
    padding-top: var(--navbar-spacing-y);
    padding-bottom: var(--navbar-spacing-y);
    min-height: var(--navbar-height);
    flex-wrap: wrap;
    justify-content: space-between
}

.skt-mobile-navbar-separator {
    border: none;
    border-bottom: 1px solid #e1e7eb
}

.skt-mobile-nav-toggle,
.skt-mobile-search-toggle {
    width: 30px
}

.skt-desktop-navigation-item {
    display: flex;
    align-items: center;
    /* min-height: var(--desktop-navigation-item-height) */
}

.skt-dropdown {
    position: absolute;
    width: 100%;
    top: 100%;
    min-width: var(--dropdown-width)
}

.skt-dropdown-list-link {
    display: block;
    background-color: var(--dropdown-list-link-color-bg);
    padding-top: var(--dropdown-list-link-padding-y);
    padding-bottom: var(--dropdown-list-link-padding-y);
    padding-left: var(--dropdown-list-link-padding-x);
    padding-right: var(--dropdown-list-link-padding-x)
}

.skt-dropdown .skt-has-dropdown::after {
    right: 10px
}

.skt-has-dropdown::after {
    content: "";
    width: 12px;
    height: 12px;
    right: -20px;
    background-image: url(../images/icons/dropdown.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform-origin: center
}

.skt-has-dropdown {
    cursor: pointer
}

.skt-desktop-navigation li.skt-has-dropdown:hover>a,
.skt-dropdown-list-link:hover {
    text-decoration: underline;    
    background-color: var(--dropdown-list-link-color-bg-hover);
}

.skt-desktop-navigation li.skt-has-dropdown:focus-within>.skt-dropdown,
.skt-desktop-navigation li.skt-has-dropdown:hover>.skt-dropdown {
    display: block
}

.skt-desktop-navigation li.skt-has-dropdown li.skt-has-dropdown .skt-dropdown {
    left: 100%;
    top: 0
}

.skt-desktop-navigation-link:hover,
.skt-topbar a:hover {
    text-decoration: underline
}

.skt-navbar a {
    user-select: none
}

@media screen and (min-width :1023px) {
    .skt-desktop-navigation > .skt-has-dropdown > .skt-dropdown {
        padding-top: 13px;
    }

    .skt-desktop-navigation-link {
        padding: 30px 0
    }    

    .skt-desktop-navigation>.skt-has-dropdown::after {
        content: none;
    }

    .skt-desktop-navigation>li>a {
        text-underline-offset: 16px;
        text-decoration-thickness: 2px !important
    }
}

@media screen and (max-width:1300px) {
    :root {
        --dropdown-width: 300px
    }
}

@media screen and (max-width:1024px) {
    :root {
        --header-bg-color: #F1F4F5;
        --desktop-navigation-item-height: 50px
    }

    .skt-mobile-navigation-secondary .skt-btn.skt-btn-primary {
        position: absolute;
        bottom: 0;
        border-radius: 0
    }

    .skt-has-dropdown {
        flex-direction: column;
        justify-content: center
    }

    .skt-has-dropdown .skt-dropdown .skt-dropdown-list-link {
        padding-left: 20px
    }

    .skt-desktop-navigation li.skt-has-dropdown li.skt-has-dropdown .skt-dropdown {
        left: 0
    }

    .skt-desktop-navigation li.skt-has-dropdown li.skt-has-dropdown .skt-dropdown .skt-dropdown-list-link {
        padding-left: 40px
    }

    .skt-desktop-navigation .skt-desktop-navigation-item:last-of-type,
    .skt-desktop-navigation li.skt-has-dropdown:hover>.skt-dropdown:not(.skt-show),
    .skt-topbar {
        display: none
    }

    .skt-has-dropdown .skt-desktop-navigation-link {
        min-height: var(--desktop-navigation-item-height)
    }

    .skt-has-dropdown.skt-active>.skt-dropdown-list-link {
        background-color: var(--dropdown-list-link-color-bg-hover)
    }

    .skt-has-dropdown::after {
        right: 20px !important;
        top: 25px
    }

    .skt-has-dropdown.skt-active::after {
        transform: rotate(90deg);
        transform-origin: center;
        top: 20px
    }

    .skt-dropdown-list-link {
        font-size: var(--fs-16)
    }

    .skt-dropdown {
        position: relative
    }

    .skt-dropdown.skt-show,
    .skt-mobile-nav-toggle,
    .skt-mobile-navbar-separator,
    .skt-mobile-navigation-secondary,
    .skt-mobile-search-toggle,
    .skt-mobile-search-wrapper.skt-show,
    .skt-navbar-nav.skt-show {
        display: block
    }

    .skt-navbar-nav {
        min-height: calc(100vh - var(--navbar-height));
        padding-bottom: 60px;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: none;
        background-color: #fff
    }

    .skt-desktop-navigation-item,
    .skt-desktop-navigation-link {
        width: 100%;
        font-size: var(--fs-16);
        display: flex;
        align-items: center;
        text-transform: capitalize
    }

    .skt-desktop-navigation {
        flex-direction: column;
        align-items: flex-start
    }

    .skt-desktop-navigation-item {
        padding-left: var(--container-spacing-x);
        padding-right: var(--container-spacing-x)
    }
}

@media screen and (max-width:1200px) {
    .skt-desktop-navigation-link {
        font-size: var(--fs-16)
    }

    .skt-navbar-nav .skt-desktop-navigation {
        justify-content: center !important;
        column-gap: 40px
    }
}

@media screen and (max-width:576px) {
    :root {
        --navbar-height: 60px
    }

    .skt-logo {
        max-width: 100px;
        margin: 0
    }

    .skt-dropdown {
        min-width: 100%
    }
}

input:focus {
    border: 1px solid var(--color-primary)
}