:root{
    /* On Mobile Screen */
    --section-spacing-y : 50px;
}

@media screen and (min-width : 1023px) {
    :root{
        --section-spacing-y : 100px;
    }
}

/* Hero Section - Mobile First */
.hero {
    position: relative;
    min-height: 270px;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
}

.hero-column-right {
    position: absolute;
    inset: 0;
    z-index: -1;
}

.hero-column-right img {
    width: 100%;
}

.hero-column-right::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #05213B;
    opacity: 80%;
}

.hero-content-body {
    color: white;
}

.hero-heading {
    position: relative;
    font-size: var(--fs-32);
    font-weight: 700;
    line-height: 41px;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.hero-heading::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 60px;
    height: 4px;
    left: 0px;
    background-color: var(--color-primary);
}

.hero-description {
    font-size: var(--fs-18);
    font-weight: 400;
    line-height: 31px;
}

/* Calender */
.calender {
    margin-top: var(--section-spacing-y);
}

.calender-card {
    border-radius: 10px;
    border-bottom: none;
    border: 1px solid #E1E7EB;
}

.calendar-card-header {
    border-bottom: 1px solid #E1E7EB;
    padding-top: 28px;
    padding-bottom: 24px;
    padding-left: 30px;
    padding-right: 30px;
}

.calendar-card-item {
    border-bottom: 1px solid #E1E7EB;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    column-gap: 48px;
    flex-wrap: wrap;
}

.calendar-card-title {
    color: var(--color-dark-text);
}

.calendar-card-item p {
    color: var(--color-dark-text);
    font-size: var(--fs-16);
}

/* Calender Item Date */
.calendar-card-item p:nth-child(1) {
    font-weight: 700;
    min-width: 100px;
}

/* Calender Item Info */
.calendar-card-item p:nth-child(2) {
    font-weight: 500;
}

.calendar-card-footer {
    background-color: var(--color-dark);
    padding-top: 24px;
    padding-bottom: 36px;
    padding-left: 16px;
    padding-right: 16px;
    color: white;
}

.calendar-card-footer-content {
    font-size: var(--fs-22);
    line-height: 30px;
    margin-bottom: 20px;
}

.calendar-card-footer .btn.btn-primary {
    max-width: 250px;
    width: 100%;
    border-radius: 5px;
    min-height: 50px;
}

@media screen and (min-width : 1023px) {
    .calendar-card-footer{
        display: flex;
        gap: 40px;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .calendar-card-header, .calendar-card-footer, .calendar-card-item{
        padding-left: 36px;
        padding-right: 36px;
    }

    .calendar-card-footer-content{
        margin: 0px;
    }
}

/* FAQ Section */

.faq-section {
    margin-top: var(--section-spacing-y);
}

.faq-section-title {
    text-align: center;
    font-size: var(--fs-24);
    font-weight: 700;
    margin-bottom: 30px;
}

.accordion {
    width: 100%;
}

.accordion-item {
    margin-bottom: 20px;
}

.accordion-item.expanded .accordion-content {
    display: block;
}

.accordion-content p {
    font-size: var(--fs-16);
    color: #798389;
    font-weight: 400;
}

.accordion-header {
    border-radius: 10px;
    background-color: white;
    color: #222D34;
    padding: 15px;
    cursor: pointer;
    text-align: left;
    font-size: 18px;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 10%);
}

.accordion-header h2 {
    font-size: var(--fs-16);
    font-weight: 500;
}

.accordion-header:hover,
.accordion-item.expanded .accordion-header {
    background-color: #172933;
    color: white;
}

.accordion-content {
    padding-top: 16px;
    padding-bottom: 16px;
    display: none;
}

.accordion-content p {
    margin: 0;
}

/* Tab Section Slider */

.tab-slider-section-title{
    font-size: var(--fs-32);
    margin-bottom: 40px; 
}

.tab-slider-section{
    margin-top: var(--section-spacing-y);
}

.tab-slider-section .slick-arrow{
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
}

.tab-link {
    flex: 1;
    padding: 20px;
    text-transform: uppercase;
    text-align: center; 
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.3s;
    font-weight: 600;
    color: #8894A7;
}

.slide-item-title{
    font-size: var(--fs-18);
    font-weight: 700;
}

.slide-item-content-wrapper p {
    font-size: var(--fs-16);
    font-weight: 400;
}   

.tab-link.active {
    color: #172933;
}

.tab-content {

}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.slide-item{
    padding: 15px;
}

.slide-item img {
    width: 100%;
    display: block;
}

.slide-item-image-wrapper{
    margin-bottom: 15px;
}

/* Content one section */
.content-one-section {
    margin-top: var(--section-spacing-y);
}

.content-one-image {
    display: block;
}

.content-one-container {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: var(--container-spacing-x);
    padding-right: var(--container-spacing-x);
    background-color: var(--color-primary);
}

.content-one-title {
    font-size: var(--fs-32);
    margin-bottom: 10px;
}

.content-one-description {
    font-size: var(--fs-16);
    font-weight: 500;
    line-height: 26px;
}

.content-one-image{
    width: 100%;
}

@media screen and (min-width : 1023px) {
    .content-one-wrapper{
        display: flex;
        justify-content: center;
    }

    .content-one-image{
        width: 50%;
    }
}

/* Course Detail Section */


@media screen and (min-width : 1023px) {
    .course-detail-wrapper{
        flex-direction: row !important;
        gap: 30px;
        
    }

    .course-detail-section {
        margin-bottom: var(--section-spacing-y);
    }
}


.course-detail-section {
    margin-top: var(--section-spacing-y);
}

.course-detail-item.course-detail-box {
    background-color: #F5F5F5;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 56px;
    padding-bottom: 56px;
    padding-left: 30px;
    padding-right: 30px;
}

.course-detail-wrapper {
    display: flex;
    flex-direction: column;
}

.course-detail-item{
    width: 100%;
}

.course-detail-list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.course-detail-list-item {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.course-detail-list-item>div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.course-detail-list-item>div>span {
    color: #5D6F80;
    font-size: var(--fs-13);
    font-weight: 500;
    text-transform: uppercase;
}

.course-detail-list-item .course-item-icon-wrapper {
    width: 24px;
}

.course-detail-list-item>p {
    color: #05213B;
    font-size: var(--fs-16);
    font-weight: 500;
}

.course-detail-item {
    padding-top: 30px;
    padding-bottom: 30px;
}

.course-detail-item-title {
    font-size: var(--fs-24);
    font-weight: 700;
    margin-bottom: 16px;
}

.course-detail-description {
    font-size: var(--fs-16);
    font-weight: 500;
    margin-bottom: 16px;
}

.course-detail-cta {
    display: flex;
    align-items: center;
    gap: 22px;
}

.course-detail-cta span {
    font-weight: 700;
    font-size: var(--fs-16);
}

/* Video Section */

@media screen and (min-width : 1023px) {
    .video-section-content-wrapper{
        display: flex;
        gap: 70px;
        align-items: center;
    }


    .video-two-section .video-section-content-wrapper{
        flex-direction: row-reverse;
    } 
}

.video-one-section {
    padding-top: var(--section-spacing-y);
    padding-bottom: var(--section-spacing-y);
    background-color: #E6F2F5;
    background-image: url(../images/video-section-pattern.png);
}

.video-section-title {
    font-size: var(--fs-28);
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 15px;
}

.video-section-content p {
    font-size: var(--fs-16);
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 20px;
}

.video-section-cta {
    display: flex;
    align-items: center;
    gap: 15px;
}

.video-section-cta span {
    font-weight: 700;
}

.video-two-section {
    margin-top: var(--section-spacing-y);
}

/* Progress Section */
.progress-section{
    margin-top: var(--section-spacing-y);
}

.progress-section-title{
    text-align: center;
    font-weight: 700;
    font-size: var(--fs-32);
    margin-bottom: 30px;
}

.progress-container {
    width: 100%;
    background-color: #E1E7EB;
    border-radius: 8px;
    overflow: hidden;
}

.progress-bar {
    height: 16px;
    background-color: #172933;
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 5px 0 0 5px;
    transition: width 0.3s ease;
}

.progress-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.progress-title{
    margin-bottom: 14px;
    font-size: var(--fs-16);
    font-weight: 700;
}

.progress-title-with-logo{
    display: flex;
    align-items: flex-end;
}

.progress-title-with-logo img {
    max-width: 100px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.progress-title-with-logo p {
    font-size: var(--fs-16);
    font-weight: 800;
}

/* Newsletter Section */

.newsletter-section {
    background-color: #172933;
    background-image: url(../images/newsletter-bg-pattern.png);
    padding-top: var(--section-spacing-y);
    padding-bottom: var(--section-spacing-y);
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    margin-top: var(--section-spacing-y);
}

.newsletter-section-title{
    text-align: center;
    font-size: var(--fs-32);
    margin-bottom: 36px;
}

.newsletter-content-description{
    text-align: center;
    font-size: var(--fs-16);
    font-weight: 500;
    margin-bottom: 30px;
}

.newsletter-section .btn {
    max-width: 290px;
    width: 100%;
    margin: auto;
}

.newsletter-cta-group{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media screen and (min-width : 1023px) {
    .newsletter-cta-group{
        flex-direction: row;
        justify-content: center;
    }   
    .newsletter-cta-group .btn{
        margin: 0px;
    } 
}


/* Bottom Slider */

.bottom-slider .slick-arrow{
    position: absolute;
    background-color: black;
    top: 0px;
    left: 0px;
}